.root {
    -fx-background-color: white;
}

AnchorPane {
    -fx-background-color: white;
}

.menu-button {
    -fx-background-color: transprent;

}

.menu-button:hover {
    -fx-underline: true;
}

.logo {
    -fx-background-image: url("../image/logo.png");
}

.main-menu-button {
    -fx-background-color: transprent;
    -fx-text-fill: #ed6973;
}

.main-menu-button:hover{
    -fx-background-color: #ed6973;
    -fx-text-fill: white;
}

.conform-button {
    -fx-background-color: #ed6973;
    -fx-text-fill: white;
}

.conform-button:hover {
    -fx-background-color: transprent;
    -fx-text-fill: #ed6973;
    -fx-border-color: #ed6973;
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-color: #ed6973;
}


.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#ed6973 0%, #ec5661 70%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #ec5661;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #ed6973;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #e9878f;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}