.root {
    -fx-background-color: white;

}

.menu-button {
    -fx-background-color: transprent;

}

.menu-button:hover {
    -fx-underline: true;
}

.logo {
    -fx-background-image: url("../image/logo.png");
}