.root {
    -fx-background-color: white;
    -fx-border-width: 0;
}

AnchorPane {
    -fx-background-color: white;
}

.menu-button {
    -fx-background-color: transprent;

}

.menu-button:hover {
    -fx-underline: true;
}

.logo {
    -fx-background-image: url("../image/logo.png");
}

.main-menu-button {
    -fx-background-color: transprent;
    -fx-text-fill: gainsboro;
}

.main-menu-button:hover{
    -fx-text-fill: white;
    -fx-background-color: #3b3b3b;
}

.conform-button {
    -fx-background-color: #ed6973;
    -fx-text-fill: white;
}

.conform-button:hover {
    -fx-background-color: transprent;
    -fx-text-fill: #ed6973;
    -fx-border-color: #ed6973;
}


/** table **/

.table-view{
    -fx-background-color: transparent;
    -fx-border-color: #ed6973;
    -fx-border-width: 0.03em;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: white;
    -fx-pref-height: 35px;
    -fx-text-alignment: center;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #ed6973;
}

.table-view .column-header {
    -fx-background-color: #ffc2c7;
    -fx-padding: 0;
}

.table-view .table-row-cell .table-cell{
    -fx-text-fill: grey;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #fff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-alignment: center;
    -fx-border-color: transparent;
    -fx-pref-height: 40px;
}

.table-row-cell:selected {
    -fx-background-color: #ffc2c7;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-text-fill: white;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view > .virtual-flow > .scroll-bar:horizontal {
    -fx-background-insets: 0, 1 0 0 0;
    -fx-padding: 0 -1 -1 -1;
}

.table-view > .virtual-flow > .scroll-bar:vertical{
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: -1 -1 -1 0;
}

.table-view > .virtual-flow > .corner {
    -fx-background-color: derive(#ed6973, -1%);
}

